.main {
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 720px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}

#imghero {
    border: 20px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 4px 31px #0000000A;
}

.leftimage {
    float: left;
    top: 78px;
    margin-top: 72px;
    margin-left: 166px;
    left: 166px;
    width: 576px;
    height: 500px;
    /* background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box; */
    opacity: 1;

}

img {
    display: block;
    max-width: 80%;
    height: auto;
}

.mainbody {
    max-width: auto;
    height: 100vh;
    opacity: 1;
}

.contentclass {
    margin-top: 19.17px;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

#expertid {
    text-align: left;
    font: normal normal 900 40px/53px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}

#loginid {

    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.usernamediv {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.passworddiv {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.buttondivlogin {
    opacity: 1;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}

#forgotpasswordid {

    text-align: right;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
}

#newid {
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
}

#registerlinkid {
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
}

.newregisterdiv {
    margin-top: 23.13px;
}

.aside {
    width: 10%;
}

.maindashboard {}

.header {
    width: 1560px;
    height: 80px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    align-items: center;

}

#profileid {
    height: 23px;
}

#searchiconid {
    height: 19px;
    background: #0000 0% 0% no-repeat padding-box;
}

#searchid {
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
}

#dashboardid {
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}

.menubarimage-defaultclass {
    width: 30px;
    height: 20px;
    background: #0000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.menubartext-defaultclass {
    width: 60px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

#dashboardtextid {
    font-size: xx-large;
}

.backgroundcolcolor {
    height: 80px;
    width: 219px;
}

#staricon {

    height: 35px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .flex-item-left {
    background-color: #fffefe;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: #fffefe;
    padding: 10px;
    flex: 50%;
  }
    @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
.linepiegraphmainclass {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}
#piechartid
{
    height:200px;
    margin-inline: auto;
}
.salestextclass
{
    font-size: 16px;
    padding: 2px;
}
#datagraphid {
    padding:2px 0px 2px 0px;
    width:550px;
    height: 195px;
    border: 1px solid #C8242F;
    opacity: 1;
}
#salestextid {
    font-size: 29px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
}

.dashboardtableclass {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.tableheadingclass {
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 1.5px;
    color: #ADADAD;
    opacity: 1;
}

.badge {
    border-radius: 5px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
}

.badgeclass {
    background: #8fe3a0 0% 0% no-repeat padding-box;
    color: #3CDD5F;
    opacity: 1;
}

.badgeclassfailed {
    background: #e0b2b2 0% 0% no-repeat padding-box;
    color: #e82f2f;
    opacity: 1;
}

#datagraphid {
    border: 1px dashed #E5E5E5;
    opacity: 1;
}

@media screen and (max-width: 990px) {
    .contentclass {
        font: normal normal 300 35px/40px Roboto;
    }
}

@media screen and (max-width:940px) {
    .menubarimage-defaultclass {
        display: none;
    }

    .maindashboard {
        padding: 5px;
    }
}

@media screen and (max-width:720px) {
 .staricon {
        display: inline;
        height: 25px;
        width: 25px;
    } 
    
}

/*

/* @media screen and (max-width:760px){
    .menubarimage-defaultclass{
        width: 30px;
        height: 20px; 
        background: #0000 0% 0% no-repeat padding-box;
        opacity: 1;
    }
} */